<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Open+Sans+Condensed:300" rel="stylesheet">
    <title></title>
</head>

<body id='welBod'>
    <h1 class="welHead">Welcome Please Sign up or log in</h1>
    <main>
        <nav>
            <ul class='loginList'>
                <a class='login' href="/users/login">Login</a>
                <a class='login' href="/users/new">Sign Up</a>
            </ul>
        </nav>
    </main>
</body>

</html>
