<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Open+Sans+Condensed:300" rel="stylesheet">
  <title></title>
</head>

<body>
  <a class='blogin' href="/users/logout">Logout</a>
  <br />
  <a class='blogin' href="/games">Back to search</a>
  <hr />
  <div class="savedlist">
    {{ #games }}
    <article class="welHead">{{ name }}</article>
    <article><img src={{ image }} /></article>
    <article class='blogin'>{{ summary }}</article>
    <article class='blogin'>{{ release }}</article>
    <hr />
    <article class='blogin'> Add your comments here:
      <br />
      <p class='comField'> {{ comments }} </p>
    </article>
    <a class='blogin' href="/games/edit/{{ id }}">Add a Comment</a>
    <button id='blogin' class="deleteGame" data-id={{ id }}>Delete this Game from wishlist</button>
    </p>
    <hr /> {{ /games }}
  </div>
  <br />
</body>

</html>
