<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="">
</head>

<body id='welBod'>
    <main>
        <section>
            <form class='login' action="/users" method="POST">
                <label class='login' for="email">Email</label>
                <br>
                <input class='login' id="email" type="text" name="user[email]" placeholder="Username">
                <br>
                <label class='login' for="password">Password</label>
                <br>
                <input class='login' id="password" type="password" name="user[password]" placeholder="Enter Password">
                <br>
                <input class='login' type="submit" value="Sign Up">
            </form>
        </section>
    </main>
</body>

</html>
